<div id="left_sidebar">
 	<table border="0" cellpadding="6" cellspacing="0">
     	<tr>
        <td id="left_sidebar_item" width="140"> <%= link_to 'My profile', edit_user_registration_path %> </td>
      </tr>
      <tr> 
       	<td id="left_sidebar_item" width="140">
       		<%= link_to 'List of users', users_path %> </td>
      </tr>                       
      <tr>
      	<td id="left_sidebar_item" width="140">
         <%= link_to 'List of works', works_path %> </td> 
      </tr>
      <tr>
      	<td id="left_sidebar_item" width="140"> <%= link_to 'Profile picture', show_users_pictures_path(current_user)%> </td>
      </tr>
      <tr>
          <td id="left_sidebar_item" width="140"> Admin 5 </td>
      </tr>
    </table>
</div>