<div id="left_sidebar">
 	<table border="0" cellpadding="6" cellspacing="0">
     	<tr> 
       		<td id="left_sidebar_item" width="140"> <%= link_to 'My profile',  edit_user_registration_path %> </td>
      	</tr>

        <tr>
           <td id="left_sidebar_item" width="140"> <%= link_to 'All works', works_path %> </td>
        </tr>
                 
        <tr>
        	<td id="left_sidebar_item" width="140"> User 3 </td>
        </tr>

        <tr>
        	<td id="left_sidebar_item" width="140"> User 4 </td>
        </tr>

        <tr>
            <td id="left_sidebar_item" width="140">User 5 </td>
        </tr>
    </table>
</div>