
 /*zarovnanie stránky na stred obrazovky*/
#main, #header, #top_menubar, #page_content, #footer
{ 
  margin-left: auto; 
  margin-right: auto;
}

/*nastavi všetky vnútorné a vonkajšie okraje na zaciatku na nulu*/
*
{
  margin: 0;
  padding: 0;
}

/* body - setting of fonts, colors, backgrounds, ...*/
body
{ 
  font: normal 80% Arial, Helvetica, sans-serif;
  background: transparent url(background.jpg)repeat;
  background-size: auto;
  color: white;
  font-size: 17px;
}

/*set of links*/
a:link
{ 
  text-decoration: none;
  color: white;
  font-style: oblique;
  font-size: 14px;
}

a:visited
{
  color: white;
}

/* mouse over link */
a:hover
{ 
  text-decoration: underline;
}

p
{
    padding-top: 12px;
}

.elements_list
{
  border-collapse: separate;
  border-spacing: 15px;
  border-color: red;
  td
  {
    vertical-align: top;
  }
}

.devise_error_messages {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: yellow;
  font: bold smaller sans-serif;
  height: auto;
  width: auto;
}

//flash[:notice] styling
.notice {
  color: #ADFF2F;
}

//flash[:alert] styling
.alert {
  color: red;
}

.message_unauthorized {
  color: red;
}

/* NASTAVENIA ČASTÍ HEADER ===================================================*/

/*nastavenie body hlavičky*/
.title
{
  
  font-size: 40px;
  text-shadow: -2px -2px 2px black;
}

.logg
{
  font-size: 17px;
  text-shadow: -1px -1px 1px black;
}

/*nastavenie jednotlivých divov v hlavičke*/
#header_0
{ 
  width: auto;
  overflow: hidden;
  float: left;
  height: 90px;
  border-style:none;
  padding-top: 0px;
  padding-left: 0px;
  background: transparent;
  background-color: transparent;
} 

#header_1
{ 
  width: auto;
  overflow: hidden;
  float: left;
  height: 90px;
  border-style:none;
  padding-top: 0px;
  padding-left: 0px;
  background: transparent;
  background-color: transparent;
} 
  
#header_2
{ 
  text-align: right;
  width: auto;
  float: left;
  height: 90px;
  overflow: hidden;
  border-style:none;
  background: transparent;
}  

#header_3
{ 
  width: auto;
  float: right;
  height: 90px;
  overflow: hidden;
  border-style:none;
  background: transparent;
  vertical-align: text-bottom;
  padding: 40px 0;
}

#header_3 a
{
  font-size: 18px;
  font-weight: bold;
}

/* NASTAVENIA ČASTÍ TOP_MENUBAR ==================================================*/

/*nastavenie zoznamu #top_menubar*/
#top_menubar
{ height: auto;
  width: 100%;
  overflow: hidden;
  //background: rgb(51,51,102);
  font-style: normal;
  font-size: 100%;
}

/*nastavenie odrážok zoznamu #polozky_top_menubar*/
#top_menubar_item li
{ 
  display: inline;      /* menu sa zobrazí do 1 riadku */
  float: left;
  text-align: center;
  font: bold 120% Arial, Helvetica, sans-serif;
  margin: 5px 15px 5px 15px;
  padding: 6px 20px 6px 20px;
  background: transparent;
  text-shadow: 0px -1px 0px #000;       /*tiene textu*/
  border-radius: 7px 7px 7px 7px;       /*oblé rohy*/ 
  text-decoration: none;
  font-size: 15px;
}

/* mouse over link */
#top_menubar_item a
{ 
  
}

/* NASTAVENIA ČASTÍ LEFT_SIDEBAR =============================================*/

#left_sidebar_item
{
  float: left;
  text-align: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  margin: 5px 15px 5px 15px;
  padding: 6px 20px 6px 20px;
  background: transparent;
  text-shadow: 0px -1px 0px #000;       /*tiene textu*/
  border-radius: 7px 7px 7px 7px;       /*oblé rohy*/ 
  text-decoration: none;
  font-size: 15px;
}

#left_sidebar_item a
{ 
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

/* NASTAVENIA ČASTÍ MAINBAR  =================================================*/

/* nadpisy jednotlivých mainbarov */
.nadpis_mainbar
{
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
}

/*formátovanie tabuľky s otváracími hodinami*/
#tabulka_otvaracie_hodiny
{
    margin: 0px;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    font-size: 19px;
}

/*formátovanie každej bunky tabuľky s otváracími hodinami*/
#tabulka_otvaracie_hodiny td
{ 
  width: 230px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  text-align: center;
}

/*div obsahujúci obrázok domu*/
#obrazok_dom
{
    float: right;
    padding-left: 15px;
}

/*div , ktorého obsah sa vycentruje na stred*/
.obrazok_center
{
    text-align: center;
}

/*div , ktorého obsah sa vycentruje v pravo*/
.obrazok_pravo
{
    text-align: center;
    float: right;
}

/*div celej galerie*/
#cela_galeria
{
    width:auto;
    height:auto;
    text-align: center;
    float:top;
}

/*div malych obrazkov vo foto galerii*/
.obrazok_galeria
{
    width:150px;
    height:150px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
}

/*div malych obrazkov vo foto galerii*/
.obrazok_galeria_2
{
    width:150px;
    height:113px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
}

/*div malych obrazkov kosov*/
.obrazok_kose
{
    width:185px;
    height:134px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
}

/*div malych obrazkov kosov*/
.obrazok_kose_2
{
    width:133px;
    height:182px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
}

/*nastavenie triedy "odkaz"*/
.odkaz
{
color: yellow;
}

/* NASTAVENIA JEDNOTLIVÝCH DIVov =============================================*/

#main
{ 
  background: transparent;
  border-style: none;
}
  
#header
{ 
  height: 90px;
  width: 800px;
  overflow: hidden;
}
 
#top_menubar
{ 
  width: 790px;
  height: 40px;
  background: rgb(51,51,102);
  border-radius: 7px 7px 0px 0px;       /*oblé rohy*/ 
  padding-left: 10px;
  overflow: hidden;
} 

#page_content  /*inside this div are left_sidebar, right_sidebar and mainbar*/ 
{ 
  display: -webkit-flex; display: -ms-flexbox; display: flex; overflow: hidden;   /*https://www.yudiz.com/3-easiest-ways-to-make-equal-height-blocks-using-css/*/
  width: 800px;
  overflow: hidden;
  height: auto;
  background: transparent;
  border-radius: 0px 0px 7px 7px;       /*oblé rohy*/ 
}

#left_sidebar
{ 
  float: left;
  width: 150px;
  height: auto;
  overflow: hidden;
  background: url(transparent.png) repeat;
  padding-top: 50px;
}

/*
#right_sidebar
{ 
  float: right;
  width: 0px;
  height: auto;
  overflow: hidden;
  background: transparent;
}
*/
#mainbar
{ 
  width: 740px;
  height: auto;
  float: left;
  overflow: hidden;
  padding: 30px;
  background: url(transparent.png) repeat;
}


#footer
{ 
  width: 800px;
  height: 17px;
  overflow: hidden;
  margin-top: 18px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 4px 4px 4px 4px;       /*oblé rohy*/ 
  background: transparent url(transparent.png) repeat;
  text-align: center;
}
